<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/74c0b2949d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/adminhome.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/css/index.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>FITNess</title>
</head>
<body>
    <header>
        <div class="navigation">
            <ul>
                <li class="list active">
                    <a  onclick="scrollToSection('dashboard')">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="list">
                    <a onclick="scrollToSection('exersice')">
                        <span class="icon"><ion-icon name="bicycle-outline"></ion-icon></span>
                        <span class="text">Activities</span>
                    </a>
                </li>
                <li class="list">
                    <a onclick="scrollToSection('Contact')">
                        <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </header>
    <section class="dashboard" id="dashboard">
        <div class="avathar">
            <p> <img src="/css/img/3d-illustration-person-with-sunglasses_23-2149436188.avif" alt=""> Welcome {{msg}}</p>
        </div>
        <form action="/aruth/search" method="post">
            <input type="text" placeholder="Search By date ex.yyyy-mm-dd" name="search" required="">
            <button><i class="fa fa-search"></i></button> 
        </form>
        
        
        <div class="result">
            <div class="table1">
                <table>
                    <thead>
                <tr>
                    <td>ID</td>
                    <td>STUDENT NAME</td>
                    <td>CLASS</td>
                    <td>ACTIVITY  ENROLLED</td>
                    <td>DATE</td>
                </tr>
            </thead>
            <tbody>
                {{#each recent}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.class}}</td>
                        <td>{{this.activity}}</td>
                        <td>{{this.date}}</td>
                    </tr>
                {{/each}}
            </tbody>
                </table>
            </div>
            
        </div>

     </section>



    <section class="exersice" id="exersice">
        <h2>ALL ACTIVITIES</h2>
        <div class="table">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>STUDENT NAME</td>
                    <td>CLASS</td>
                    <td>ACTIVITY  ENROLLED</td>
                    <td>DATE</td>
                    <td>Edit</td>
                    <td>Delect</td>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.class}}</td>
                        <td>{{this.activity}}</td>
                        <td>{{this.date}}</td>
                        <td><a class="edit" href="/aruth/edit/{{this.id}}">Edit</a></td>
                        <td><a class="delete" onclick="return confirm('Are you sure you want to delete')" href="/aruth/delete/{{this.id}}">Delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </section>
    
        
</body>
<script>
         const list=document.querySelectorAll('.list');
        function activatelink(){
            list.forEach((item) => item.classList.remove('active'));
            this.classList.add('active');   
        }
        list.forEach((item) => item.addEventListener('click',activatelink));
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>